<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="TLCCmdLineParameters" value=""/>
    <intAttribute key="collectCoverage" value="1"/>
    <stringAttribute key="configurationName" value="Toy_Model_1_DAGpool"/>
    <booleanAttribute key="deferLiveness" value="false"/>
    <intAttribute key="dfidDepth" value="100"/>
    <booleanAttribute key="dfidMode" value="false"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="172.17.0.1"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <stringAttribute key="distributedTLCVMArgs" value=""/>
    <intAttribute key="fpBits" value="1"/>
    <intAttribute key="fpIndex" value="93"/>
    <booleanAttribute key="fpIndexRandom" value="true"/>
    <intAttribute key="maxHeapSize" value="95"/>
    <intAttribute key="maxSetSize" value="1000000"/>
    <booleanAttribute key="mcMode" value="true"/>
    <stringAttribute key="modelBehaviorInit" value="Init"/>
    <stringAttribute key="modelBehaviorNext" value="Next"/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="leaderBlocks, dag"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants"/>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="1[]&lt;&gt;&lt;&lt;NewBlock&gt;&gt;_vars"/>
        <listEntry value="1[]&lt;&gt;&lt;&lt;ChooseSupportedLeaderBlock&gt;&gt;_vars"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="14"/>
    <stringAttribute key="modelExpressionEval" value="&#10;"/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="WorkerIndex;;{1};0;0"/>
        <listEntry value="Payload;;{&quot;a&quot;};0;0"/>
        <listEntry value="noValidator;;5;0;0"/>
        <listEntry value="FakeValidator;;{B_4};1;0"/>
        <listEntry value="WeakQuorum;;{{B_1, B_2}, {B_1, B_3}, {B_1, B_4}, {B_2, B_3}, {B_2, B_4}, {B_3, B_4}};0;0"/>
        <listEntry value="Validator;;{B_1, B_2, B_3};1;0"/>
        <listEntry value="ByzQuorum;;{{B_1, B_2, B_3}, {B_1, B_2, B_4}, {B_1, B_3, B_4}, {B_2, B_3, B_4}};0;0"/>
        <listEntry value="emptyLayer;;[x \in {} |-&gt; x];0;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value="/\ \A i \in 1..Len(dag) : \E Q \in ByzQuorum : DOMAIN dag[i] \subseteq Q&#10;/\ Len(dag) &lt; 5"/>
    <listAttribute key="modelParameterDefinitions">
        <listEntry value="Nat;;{1,2,3};0;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value=""/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="12"/>
    <booleanAttribute key="recover" value="false"/>
    <stringAttribute key="result.mail.address" value=""/>
    <intAttribute key="simuAril" value="-1"/>
    <intAttribute key="simuDepth" value="100"/>
    <intAttribute key="simuSeed" value="-1"/>
    <stringAttribute key="specName" value="DAGpool"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
    <setAttribute key="traceExploreExtends">
        <setEntry value="FiniteSetTheorems_proofs"/>
        <setEntry value="SequenceOpTheorems"/>
        <setEntry value="SequenceOpTheorems_proofs"/>
        <setEntry value="SequenceOps"/>
        <setEntry value="SequenceTheorems"/>
        <setEntry value="WellFoundedInduction"/>
    </setAttribute>
    <stringAttribute key="view" value=""/>
    <booleanAttribute key="visualizeStateGraph" value="false"/>
</launchConfiguration>
